# .coveragerc to control coverage.py
[report]

# Only evaluate source files (i.e. exclude unit tests from coverage)

# Note: Finding the right switches to omit directories for pytest is a WIP.
# The coverage is defined in https://github.com/MarkusOttela/ot-harjoitustyo/blob/master/tasks.py#L40
# TODO: Fix

# Regexes for lines to exclude from consideration
exclude_lines =

    # Ignore unreachable lines such as debugging code for third-party modules
    pragma: no cover

    # TYPE_CHECKING is True only during type checking
    if typing.TYPE_CHECKING:
